body{
	background:url(emble.jpg);
	background-repeat: no-repeat;
    background-position: center;
	background-size:1500px 780px;
	height:auto;
	width:auto;
	
}
#msg {
    color: red;
    top: 43%;
    left: 39%;
    position: absolute;
    font-size: 24px;
    text-align: center;
}

#plog {
    position: relative;
    top: 60px;
    left: 20px;
    width: 100px;
    height: 30px;
    background-color: red;
    text-align: center;
    border-radius: 30px;
    font-size: 19px;
}
#plog a{
	
	
	
	color:white;
	
	
	
}

#plog:hover{
	
	
	background-color:darkgreen;
	
}


.log {
	
    height: 600px;
    width: 700px;
    background-color: black;
    top:15%;
	left:30%;
	position:absolute;
    text-align: center;
    margin: auto;
    border-radius: 100px;
	opacity:0.8
}
 a{
	
	text-decoration:none;
	color:GREEN;
	
}

.avatar{
	
	border-radius:50%;
	
}


td {
    color: red;
    font-size: 24px;
    font-style: italic;
    margin-top: 10px;
}
.input {
    height: 50px;
    width: 350px;
    border-bottom-color: red;
    border-radius: 40px;
    font-size: 24px;
}
#btn {
    height: 50px;
    width: 100px;
    background-color: lightgreen;
    font-size: 28px;
    font-family: a;
    color: red;
    border-radius: 30px;
}
